<%= nested_form_for([:admin, @location]) do |f| %>
  <div class="form-group">
    <%= f.text_field(:street_address, placeholder: 'Street Address', class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.text_field(:street_address2, placeholder: 'Apt. st #', class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.text_field(:city, placeholder: 'City', class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.text_field(:state, placeholder: 'State', class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.text_field(:zip, placeholder: 'Zip', class: 'form-control') %>
  </div>

  <p>
    <%= f.link_to_add('Add Employee', :employees) %>
  </p>
  <%= f.fields_for(:employees) do |ff| %>
    <div class="row">
      <div class="col-sm-10">
        <div class="form-group">
          <%= ff.text_field(:name, placeholder: 'Employee Name', class: 'form-control') %>
        </div>
        <div class="form-group">
          <%= ff.text_field(:badge_number, placeholder: 'Badge Number', class: 'form-control') %>
        </div>
      </div>
      <div class="col-sm-2">
        <%= ff.link_to_remove('Fire Employee', class: 'btn btn-danger') %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit('Save Location', class: 'btn btn-primary btn-lg') %>
  </div>
<% end %>
