<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= about_path %>">About</a></li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown">Menu <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="<%= menu_items_path %>">All Items</a></li>
        <li><a href="#">Vegetairan</a></li>
      </ul>
    </li>
    <li><a href="<%= locations_path %>">Locations</a></li>
    <li><a href="<%= contact_path %>">Contact</a></li>
  </ul>
</nav>
