<h1 class="page-header">Contact Us</h1>
<p class="lead">
  Just shoot us a note, and we'll get back when we can!
</p>
<%= form_tag(submit_contact_path, role: 'form', class: 'form-horizontal') do %>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <%= text_field_tag(:name, '', class: 'form-control', placeholder: 'Name') %>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <%= text_field_tag(:email, '', class: 'form-control', placeholder: 'Email') %>
    </div>
  </div>
  <div class="form-group">
    <label for="subject" class="col-sm-2 control-label">Subject</label>
    <div class="col-sm-10">
      <%= text_field_tag(:subject, '', class: 'form-control', placeholder: 'Subject') %>
    </div>
  </div>
  <div class="form-group">
    <label for="question" class="col-sm-2 control-label">Question</label>
    <div class="col-sm-10">
      <%= text_field_tag(:question, '', class: 'form-control', placeholder: 'Question') %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag('Send', class: 'btn btn-info btn-lg') %>
    </div>
  </div>
<% end %>
