<!DOCTYPE html>
<html>
<head>
  <title>Tacoz</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header id="site-header">
      <%= link_to(image_tag('http://placehold.it/100x100'), root_path) %>
      <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= about_path %>">About</a></li>
          <li><a href="<%= '#' %>">Menu</a></li>
          <li><a href="<%= '#' %>">Contact</a></li>
        </ul>
      </nav>
    </header>
    <section id="site-content">
      <%= yield %>
    </section>
    <footer id="site-footer">
      <p class="text-center">
        <small>copyright &copy; 2014 Tacoz</small>
      </p>
    </footer>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
