<!DOCTYPE html>
<html>
<head>
  <title>Tacoz</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
</head>
<body>
  <div class="container">
    <header id="site-header">
      <div class="row">
        <div class="col-sm-4">
          <%= link_to(image_tag('http://placehold.it/100x100'), root_path) %>
        </div>
        <div class="col-sm-8">
          <%= render('shared/topsearch') %>
        </div>
      </div>
      <%= render('shared/topnav') %>
    </header>
    <section id="site-content">
      <%= yield %>
    </section>
    <footer id="site-footer">
      <p class="text-center">
        <small>copyright &copy; 2014 Tacoz</small>
      </p>
    </footer>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
