<!DOCTYPE html>
<html>
  <head>
    <title>Admin Section</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1>In the admin</h1>
    <ul>
      <li>
        <a href="<%= admin_menu_items_path %>">Menu Items</a>
      </li>
      <li>
        <a href="<%= admin_locations_path %>">Locations</a>
      </li>
    </ul>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
